<!DOCTYPE html>
<html>
  <head>
    <title>Prof XYZ| Rajasthan Technical University| Kota, Rajasthan</title>
    <link
      type="text/css"
      rel="stylesheet"
      href="../public/assets/stylesheets/aboutprof.css"
    />
    <script
      type="text/javascript"
      src="../public/assets/js/homepage_script.js"
    ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato|Oswald|Roboto|Varela|Varela+Round|Open+Sans"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="shortcut icon" href="../public/assets/univ_images/favicon.ico" />
  </head>
  <body>
    <nav class="menu-bar">
      <div class="closed-menu-wrapper">
        <div>
          <img
            src="../public/assets/navigation_icons/round_menu_white_48.png"
          />
        </div>
        <!--
          There is a few things to do here. 
          1. Change the menu icon to the open it up on clicking. 
          2. Hide the close icon when the pane is not open.
          3. Write here anything that is not clear.
        -->
        <div>
          Rajasthan Technical University
        </div>
        <div>
          <img
            alt=""
            src="../public/assets/navigation_icons/round_chevron_left_white_48.png"
          />
        </div>
      </div>
      <div class="open-menu-wrapper">
        <div>
          Various links come here. Everything from the hotlinks to the main
          navigation bar
        </div>
      </div>
    </nav>
    <header>
      <div class="hotlinks">
        <div><a href="/views/administration.html">Administration</a></div>
        <div><a href="/views/admission.html">Admissions</a></div>
        <div><a href="/views/tenderandpurchase.html">Purchase/Tender</a></div>
        <div><a href="/views/rtuactsandrules.html">RTU Acts & Rules</a></div>
        <div>Student One</div>
      </div>
      <div class="univ-wrapper">
        <div class="name">
          <div>Rajasthan Technical University</div>
          <!-- <div>Rawatbhata Road, Kota - 324010</div> -->
          <div>Established in 2006</div>
        </div>
        <div class="logo">
          <img
            alt="RTU logo"
            src="../public/assets/univ_images/univ_logo.jpg"
          />
        </div>
      </div>
    </header>
    <nav class="nav-bar">
      <div>Home</div>
      <div>Academics</div>
      <div>Examination</div>
      <div>Research</div>
      <div>Univ. Depts.</div>
      <div>About RTU</div>
    </nav>
    <main>
      <div class="news-flash">
        News Flash if I wish to use marquee. Well I will do it once I know what
        I am actually gonna do about this.
        <marquee behavior="alternate" direction="">
          This sentence might contain the most important stuff
        </marquee>
      </div>
      <div class="main-content-wrapper">
        <div class="quick-links">
          <div>Chancellor</div>
          <div>Vice Chancellor</div>
          <div>Registrar</div>
          <div>Finance Officer</div>
          <div>Controller of Examination</div>
          <div>Dean Academics</div>
          <div>Dean Research</div>
          <div>Dean Student Welfare</div>
          <div>Webmaster</div>
        </div>

        <div class="content-wrapper">
          <!--
            Image Gallery style, but, with a difference... 
            We are
          -->
          <div>Dr. Deepak Bhatia</div>
          <div>by Siddhartha | May 26, 2015 | Faculty | 0 comments</div>
          <div class="banner">Faculty Profile</div>
          <div class="profile-wrapper">
            <div class="profile">
              <div class="attribute-wrapper">
                <div class="attributes">Designation</div>
                <div class="values">Assistant Professor</div>
              </div>
              <div class="attribute-wrapper">
                <div class="attributes">Qualifications</div>
                <div class="values">M.Tech., Ph.D.</div>
              </div>
              <div class="attribute-wrapper">
                <div class="attributes">Department</div>
                <div class="values">
                  Dept. of Elec. & Comm. Engineering, RTU
                </div>
              </div>
              <div class="attribute-wrapper">
                <div class="attributes">Email</div>
                <div class="values">dbhatia@rtu.ac.in</div>
              </div>
              <div class="attribute-wrapper">
                <div class="attributes">Research Gate Page</div>
                <div class="values">Deepak Bhatia on ResearchGate</div>
              </div>
              <div class="attribute-wrapper">
                <div class="attributes">Research Gate Page</div>
                <div class="values">Deepak Bhatia on Google Scholar</div>
              </div>
              <div class="attribute-wrapper">
                <div class="attributes">Phone No.</div>
                <div class="values">+91-9414317401, +91-9461513242</div>
              </div>
            </div>
            <div class="image"><div></div></div>
          </div>
          <div class="banner">Research Interests</div>
          <div class="text">
            MEMS Cantilevers, Characterization of NANO Thin Films, R.F. &
            Microwave Comm., Communication Systems,
          </div>
          <div class="banner">Basic Research Profile</div>
          <div class="text">
            Wireless Communication, Mobile Communication, Nano & MEMS
          </div>
          <div class="banner">Journal Publication Details</div>
          <!-- Be Careful to use counters or EJS to automate the numbering here -->
          <div class="text">
            1. <strong>Deepak Bhatia</strong>, Sandipta Roy, S. Nawaz, R. S.
            Meena, V.R. Palkar,
            <strong
              >“Room Temperature Electrical properties of
              Bi<sub>7</sub>Dy<sub>0</sub>.3FeO<sub>3</sub> thin films deposited
              by PLD on ZnO films for potential applications”</strong
            >, Micro Elector. Engg. (Elsevier) Vol. 163 (2016) 60–66.
          </div>
          <div class="text">
            2. <strong>Deepak Bhatia</strong>, Himanshu Sharma, R. S. Meena,
            V.R. Palkar,
            <strong
              >“A novel ZnO piezoelectric microcantilever energy scavenger:
              Fabrication and characterization”</strong
            >, Vol. 9, Sens. Bio Sensing. (Elsevier) (2016) 45–52.
          </div>
          <div class="text">
            3. <strong>Deepak Bhatia</strong>, Sandipta Roy, S. Nawaz, R. S.
            Meena, V.R. Palkar,
            <strong
              >“Observation of Temperature effect on Electrical properties of
              Novel Au/Bi<sub>7</sub>Dy<sub>0</sub>.3FeO<sub>3</sub>/ZnO/p-Si
              thin film MIS Capacitor for MEMS applications”</strong
            >, Micro Elector. Engg. (Elsevier) Vol. 168C (2017) pp. 55-61.
            http://dx.doi.org/10.1016/j.mee.2016.11.001.
          </div>
          <div class="text">
            4. <strong>Deepak Bhatia</strong> , Himanshu Sharma, R. S. Meena,
            V.R. Palkar,
            <strong
              >“Confirmation of spatial coexistence of magneto-electric coupling
              in Bi<sub>7</sub>Dy<sub>0</sub>.3FeO<sub>3</sub> thin films
              integrated with Si/ZnO film for MEMS and Memory
              applications”</strong
            >, J. Mater Res Technol. (Elsevier) (2018).
          </div>
          <div class="text">
            5. <strong>Deepak Bhatia</strong>, Mithilesh Kumar and Amitabh
            Sharma
            <strong
              >“A beam scanning UWB antenna system for wireless
              applications”</strong
            >, Published in the International Journal on Electronics Engineering
            (IJEE), Vol. 3, pp. 11-16, June 2011. (ISSN: 0973-7383)
          </div>
          <div class="text">
            6. Amit Joshi, <strong>Deepak Bhatia</strong> ,
            <strong>“Analysis and Design of Multi-Band Bandstop Filter”</strong
            >, International Journal of Electronic and Electrical Engineering.
            ISSN 0974-2174, Volume 7, Number 6 (2014)
          </div>
          <div class="text">
            7. Shailendra Goswami and <strong>Deepak Bhatia</strong>,
            <strong
              >“Design and Simulation of Inset Feed Microstrip Patch Array for
              Ka-Band Applications”</strong
            >
            InternatIonal Journal of electronIcs & communIcatIon technology,
            IJECT Vol. 6, Issue 2, AprIl – June 2015, ISSN : 2230-7109 (Online),
            ISSN : 2230-9543 (Print)
          </div>
          <div class="banner">Conference Details</div>
          <div class="banner">
            Seminars/ Symposia/ Workshop/ Conferences/ STC Organized
          </div>
          <div class="banner">Ongoing Project/Professional Affiliation</div>
          <div class="banner">Researches Supervised</div>
        </div>
      </div>
    </main>
    <footer>
      <div class="links">
        <div class="rtu-pages">
          <div class="columns-wrapper">
            <div>About RTU</div>
            <div>About RTU</div>
            <div>Our Vice Chancellors</div>
            <div>Vission & Mission</div>
            <div>RTU Map</div>
            <div>Events and Gallery</div>
            <div>Holidays Calendar</div>
            <div>Bank and Post Office</div>
            <div>Dispensary</div>
          </div>
          <div class="columns-wrapper">
            <div>Other Links</div>
            <div>Advertisement</div>
            <div>Recruitment</div>
            <div>Center for Electronic Governance</div>
            <div>REAP/LEEP (Engg. Admissions)</div>
            <div>Screen Reader</div>
            <div>Self Learning(Imp Links)</div>
          </div>
          <div class="columns-wrapper">
            <div>Other Links</div>
            <div>RTU X Convocation 2020</div>
            <div>RTU(ATU) TEQIP-III</div>
            <div>Employees Property Disclosure</div>
            <div>Degree Data Updation Link</div>
            <div>National Voter Service Portal</div>
            <div>Contact Us</div>
          </div>
          <div class="columns-wrapper">
            <div>Aluminis</div>
            <div>Welcome Aluminis</div>
            <div>Aluminis Association</div>
          </div>
        </div>
        <div class="contact-us">
          <div class="columns-wrapper">
            <div>Contact Details</div>
            <div><strong>Controller of Examination (COE)</strong></div>
            <div><strong>COE Secy.:</strong> <i>0744-2473861</i></div>
            <div><strong>COE Conduct:</strong> <i>0744-2473931</i></div>
            <div><strong>Dean(Academic):</strong> <i>0744-2473015</i></div>
            <div><strong>Recruitment Cell:</strong> <i>0744-2473062</i></div>
            <div><strong>Registrar, RTU:</strong> <i>0744-2473003</i></div>
          </div>
          <div class="social-media">
            <div class="fb">
              <!-- <img src="../public/assets/social_media_icons/fb_no_bg.png" /> -->
            </div>
            <div class="twitter">
              <!-- <img src="../public/assets/social_media_icons/twitter_no_bg.png" /> -->
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div>Privacy Policy</div>
        <div>Sitemap</div>
        <div>
          &copy;2020, Rajasthan Technical University, Rawatbhata Road, Kota -
          324010
        </div>
      </div>
    </footer>
  </body>
</html>

<!-- 
  Let start building the website by making a footer. 
  This is the easiest to design BTW. 
  Need to be careful of the elements to be used. 
  How are we gonna place the stuff?
  Footer:  
    I guess the flexbox model is good enough I suppose. 
    Why use grids instead of flexbox:
      Answer: Solves the issue of wrapping... (Maybe. This is my theory.)

    Let's actually test this out.
-->
