<!DOCTYPE html>
<html>
  <head>
    <title>
      RTU Acts and Rules| Rajasthan Technical University| Kota, Rajasthan
    </title>
    <link
      type="text/css"
      rel="stylesheet"
      href="../public/assets/stylesheets/rules.css"
    />
    <script
      type="text/javascript"
      src="../public/assets/js/homepage_script.js"
    ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato|Oswald|Roboto|Varela|Varela+Round|Open+Sans"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="shortcut icon" href="../public/assets/univ_images/favicon.ico" />
  </head>
  <body>
    <nav class="menu-bar">
      <div class="closed-menu-wrapper">
        <div>
          <img
            src="../public/assets/navigation_icons/round_menu_white_48.png"
          />
        </div>
        <!--
          There is a few things to do here. 
          1. Change the menu icon to the open it up on clicking. 
          2. Hide the close icon when the pane is not open.
          3. Write here anything that is not clear.
        -->
        <div>
          Rajasthan Technical University
        </div>
        <div>
          <img
            alt=""
            src="../public/assets/navigation_icons/round_chevron_left_white_48.png"
          />
        </div>
      </div>
      <div class="open-menu-wrapper">
        <div>
          Various links come here. Everything from the hotlinks to the main
          navigation bar
        </div>
      </div>
    </nav>
    <header>
      <div class="hotlinks">
        <div><a href="/views/administration.html">Administration</a></div>
        <div><a href="/views/admission.html">Admissions</a></div>
        <div><a href="/views/tenderandpurchase.html">Purchase/Tender</a></div>
        <div><a href="/views/rtuactsandrules.html">RTU Acts & Rules</a></div>
        <div>Student One</div>
      </div>
      <div class="univ-wrapper">
        <div class="name">
          <div>Rajasthan Technical University</div>
          <!-- <div>Rawatbhata Road, Kota - 324010</div> -->
          <div>Established in 2006</div>
        </div>
        <div class="logo">
          <img
            alt="RTU logo"
            src="../public/assets/univ_images/univ_logo.jpg"
          />
        </div>
      </div>
    </header>
    <nav class="nav-bar">
      <div>Home</div>
      <!--Think about changing this. Can't. -->
      <div>Academics</div>
      <div>Examination</div>
      <div>Research</div>
      <div>Univ. Depts.</div>
      <div>About RTU</div>
    </nav>
    <div class="image-gallery">
      <!-- 
        Outer div is the white box and the inner div is the actual image
        We are not going in for the HTML DOM. 
        We are going for the CSS DOM. 
        We change the background for the inner div.
      -->
      <div><div></div></div>
      <div><div></div></div>
      <div><div></div></div>
    </div>

    <main>
      <div class="news-flash">
        News Flash if I wish to use marquee. Well I will do it once I know what
        I am actually gonna do about this.
        <marquee behavior="alternate" direction="">
          This sentence might contain the most important stuff
        </marquee>
      </div>
      <div class="main-content-wrapper">
        <div class="quick-links">
          <div>Latest News</div>
          <div>Quick Links</div>
          <div>Upcoming Events</div>
          <div>Circulars</div>
        </div>

        <div class="content-wrapper">
          <div>RTU Acts and Rules</div>
          <div>RTU Act Amendment Bill 6-2010</div>
          <div>RTU Act Amendment Bill 26-2013</div>
          <div>RTU Act Amendment Bill 9-2018</div>
          <div>RTU Act 2006 with Amendments 1</div>
          <div>RTU ACT English version July 2019</div>
          <div>RTU ACT’s & Rules</div>
          <div>
            Statutes for appointment of teachers in university department
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="links">
        <div class="rtu-pages">
          <div class="columns-wrapper">
            <div>About RTU</div>
            <div>About RTU</div>
            <div>Our Vice Chancellors</div>
            <div>Vission & Mission</div>
            <div>RTU Map</div>
            <div>Events and Gallery</div>
            <div>Holidays Calendar</div>
            <div>Bank and Post Office</div>
            <div>Dispensary</div>
          </div>
          <div class="columns-wrapper">
            <div>Other Links</div>
            <div>Advertisement</div>
            <div>Recruitment</div>
            <div>Center for Electronic Governance</div>
            <div>REAP/LEEP (Engg. Admissions)</div>
            <div>Screen Reader</div>
            <div>Self Learning(Imp Links)</div>
          </div>
          <div class="columns-wrapper">
            <div>Other Links</div>
            <div>RTU X Convocation 2020</div>
            <div>RTU(ATU) TEQIP-III</div>
            <div>Employees Property Disclosure</div>
            <div>Degree Data Updation Link</div>
            <div>National Voter Service Portal</div>
            <div>Contact Us</div>
          </div>
          <div class="columns-wrapper">
            <div>Aluminis</div>
            <div>Welcome Aluminis</div>
            <div>Aluminis Association</div>
          </div>
        </div>
        <div class="contact-us">
          <div class="columns-wrapper">
            <div>Contact Details</div>
            <div><strong>Controller of Examination (COE)</strong></div>
            <div><strong>COE Secy.:</strong> <i>0744-2473861</i></div>
            <div><strong>COE Conduct:</strong> <i>0744-2473931</i></div>
            <div><strong>Dean(Academic):</strong> <i>0744-2473015</i></div>
            <div><strong>Recruitment Cell:</strong> <i>0744-2473062</i></div>
            <div><strong>Registrar, RTU:</strong> <i>0744-2473003</i></div>
          </div>
          <div class="social-media">
            <div class="fb">
              <!-- <img src="../public/assets/social_media_icons/fb_no_bg.png" /> -->
            </div>
            <div class="twitter">
              <!-- <img src="../public/assets/social_media_icons/twitter_no_bg.png" /> -->
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div>Privacy Policy</div>
        <div>Sitemap</div>
        <div>
          &copy;2020, Rajasthan Technical University, Rawatbhata Road, Kota -
          324010
        </div>
      </div>
    </footer>
  </body>
</html>

<!-- 
  Let start building the website by making a footer. 
  This is the easiest to design BTW. 
  Need to be careful of the elements to be used. 
  How are we gonna place the stuff?
  Footer:  
    I guess the flexbox model is good enough I suppose. 
    Why use grids instead of flexbox:
      Answer: Solves the issue of wrapping... (Maybe. This is my theory.)

    Let's actually test this out.
-->

<!--
  Stuff that needs to be decided before proceeding.
  
  Note: RTU Website is not at all feature rich as DTUs.
    We can do 2 things about this fact.
      A. 
      B. 

    1. What about the tables that are to be displayed and how to go about doing it on the smaller displays?
    2. For smaller displays we are gonna use grids, or divs? 
      a. Are we going to break up the table into various columns and display them, 
      b. Resize the table accordingly
      c. Overflow it in some wrapper div
      d. We leave the dimensions as they are are. 
    3. What about the entire notices pane? 
      a. That part is totally over my head. 
      b. What are we thinking about the PDFs. Standard protocol I suppose. 
    4. What about the login portal. How are we gonna handle that big a request. 
      a. There are two kinds of Logins. 
        i. The Webpage. But who logs in it anyway. (Need more pay to do that. Definitely.)
        ii. The CMS Portal where the various elements can be modified.
    5. I have to build and show the CMS portal, design it (Analyse the common options). 
      A. There are to parts to this problem. 
        a. Should I do the exact same thing with the entire webpage?
        b. Should I just make a dummy page with one one input of each kind? 
          i. This leads us to another question. Who is going to operate the CMS portal?
          ii. Can we use generic name of the components?
          iii. There is a part of the problem. Adding a new link. 
            A. Should we actually keep this option open?
            B. Keeping this option leads to many complications.
            C. As far as I believe, everything is editable on a College Website.
            D. There is hardly any static content. Everything on the webpage is bound to change. 
      B. What am I doing RN? Am I trying to finish a huge task in a few days?
        a. Yes, Indeed, I am. Need Sam to organise the backend portion.
        b. Talking about the organisation, we are looking at a team who will be editing our code.
    

    6. CONCLUSION OF THIS SELF TALK
        Nothing.

      I am going to pay for the Python Course and learn. I am gonna finish up the job,
      and get rid of D from my life, forever.
-->
